.parent
{
    height:50vh;
}
.parent>.col{
    padding: 1em;
    border: 0.1em solid black;
}
.container-fluid{
    padding: 1em;
}

.buttons{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 25%;
}
.box>.row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons .col{
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    padding: 1em;
}
input[type="number"]{
    border: 0.01em solid gray;
    border-radius: 15em;
    margin: 0.5em;
    width: 100%;
}